.App {
  text-align: center;
  padding: none;
  min-width: 100%;
  min-height: 100%;
}
.App img {
  padding-top: 10px;
}

.welcome {
  margin: 0;
  margin-bottom: 60px;
  padding-top: 20px;
}
.app__form {
  text-align: center;
  padding: 10px;

  top: ;
  z-index: 1;
  background: wheat;
  width: 100%;

  /* display: flex;
  flex-direction: row;
  background-color: #e9e9e9b; */
}

.app__formControll {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
